{
#  ion tests
'ion.test.iontest':{
    'broker_host': 'localhost',
    'broker_port': 5672,
    'broker_vhost': '/',
    'broker_heartbeat':0,
    'start_app':'../res/apps/ccagent.app',
},
'ion.services.coi.exchange.broker_controller':{
    'privileged_broker_connection':{ 
            'host': 'localhost',
            'port': 5672,
            'username': 'ems',
            'password': 'ems',
            'vhost': '/',
            'heartbeat':0
    },
    'amqp_spec' : 'res/amqp/specs/standard/amqp0-8.xml',
},
'ion.integration.eoi.agent.java_agent_wrapper':{
        'dataset_agent_jar_path':'lib/eoi-agents-0.3.1.jar'
    },
}

